/* Modal dialog box for add, delting tags...*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #7386D5;
    color: white;
}

/* Modal Body */
.modal-body {
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
}

/* Modal Footer */
.modal-footer {
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 2px;
    /* padding: 2px 16px, 5px; */
    background-color: #7386D5;
    color: white;
    justify-content: left
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/*end modal dialog box css */


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.tag_a {
    position: relative; 
    float:left; 
    width: 225px;
}

.gif_footer_inner {
    text-align: center;
    float:left;
    border-color: rgb(145, 140, 140);
    border-width: 1px;
    border-style: solid;
    border-top: none;
    padding: 1px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgb(231, 223, 223);
    font-size: 12px;
    color: rgb(145, 140, 140);
    width: 75px;
}

#add_tag {
    cursor: pointer;
}

#delete_tag {
    padding-left: 2px;
    cursor: pointer;
}

#current_tag {
    padding-right:9px;
}

/* .nopad {
    padding: 0px;
    margin: 0px;
}

.nopad_important {
    padding: 0px !important;
    margin: 0px !important;
} */

.gif_card {
    float: left;
    margin: 5px;
    /* padding: 0px; */
}

#more_gifs {
    float: left;
    margin: 20px;
    cursor: pointer;
}

#more_gifs p {
    font-family: 'Yellowtail', cursive; 
    font-size: 40px;
    color: #7386D5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#more_gifs p:hover {
    color: white;
}


.gif_image {
    cursor: pointer;
}

.header {
    font-family: 'Yellowtail', cursive; 
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.tag_delete{
    padding: 0px;
    margin: 0px;
    padding-top:10px;
    border: solid;
    border-color: black;
}

.navbar {
    background: #fff;
    border: none;
    border-radius: 0;
    padding: 0px;
    margin-bottom: 20px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}


#brand.brand-view {
    visibility: hidden;
}



.btn-info {
    background-color: #6d7fcc;
    border-color: #6d7fcc;
    margin-top: 0px;
    margin-bottom: 11px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #6d7fcc;
}

.sidebar-header {
    font-family: 'Yellowtail', cursive; 
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-brand {
    padding: 0px;
    padding-left: 20px;
    font-family: 'Yellowtail', cursive; 
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #6d7fcc !important;
}

.container-fluid {
    padding: 0px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    padding-top:10px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

}